<?xml version="1.0" encoding="UTF-8"?>
<xable>
	<_file_manager>
		<upload>
			<type>media</type>
			<media>
				<files></files>
			</media>
			<set>files</set>
		</upload>
		<delete>
			<type>media</type>
			<media>
				<files></files>
			</media>
			<set>files</set>
		</delete>
	</_file_manager>
	<page>
		<domain>
			<type>string</type>
			<label>Domena</label>
			<string>maciejnowak.com/xable</string>
		</domain>
		<title>
			<type>text</type>
			<label>Nazwa strony</label>
			<description>widoczna na belce przeglądarki</description>
			<text>
				<pl>X.able Szablon</pl>
				<en>X.able Template</en>
				<de></de>
			</text>
		</title>
		<description>
			<type>textarea</type>
			<label>Opis strony</label>
			<format></format>
			<text>
				<pl>Szablon strony opartej o system X.able</pl>
				<en>X.able based website template</en>
				<de></de>
			</text>
		</description>
		<keywords>
			<type>textarea</type>
			<label>Słowa kluczowe (oddzielone przecinkami)</label>
			<format></format>
			<text>
				<pl>maciej, nowak, cms, xml, x.able, xable, website, template, panel admina, panel administracyjny</pl>
				<en>maciej, nowak, cms, xml, x.able, xable, website, template, admin panel</en>
				<de></de>
			</text>
		</keywords>
	</page>
	<media>
		<multimedia_size>
			<type>string</type>
			<label>Maksymalna rozdzielczość obrazków (w pikselach)</label>
			<description>[pion]x[poziom], większe obrazy zostaną automatycznie zmniejszone, ale ich załadowanie na serwer może potrwać dłużej</description>
			<string>1920x1200</string>
		</multimedia_size>
		<logo>
			<type>media</type>
			<label>Logo</label>
			<media>
				<image>media/logo</image>
			</media>
			<set>image</set>
		</logo>
	</media>
	<multi_language>
		<active>
			<type>option</type>
			<checkbox>
				<option>Aktywny</option>
			</checkbox>
			<selected>Aktywny</selected>
		</active>
		<name>
			<type>string</type>
			<label>Nazwa</label>
			<string>Polski</string>
		</name>
		<id>
			<type>string</type>
			<label>2-literowy skrót</label>
			<string>pl</string>
		</id>
	</multi_language>
	<multi_language>
		<active>
			<type>option</type>
			<checkbox>
				<option>Aktywny</option>
			</checkbox>
			<selected>Aktywny</selected>
		</active>
		<name>
			<type>string</type>
			<label>Nazwa</label>
			<string>English</string>
		</name>
		<id>
			<type>string</type>
			<label>2-literowy skrót</label>
			<string>en</string>
		</id>
	</multi_language>
</xable>
